<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="card">
      <h1>Simple Restful Calculator</h1>

      <div class="calc-area">
        <input id="operand1" type="text" class="button">
        <select id="operator" class="button">
          <option value="sum">+</option>
          <option value="subtract">-</option>
          <option value="multiply">*</option>
          <option value="divide">/</option>
        </select>
        <input id="operand2" type="text" class="button">	
        <span> = </span>
        <input type="text" class="button" id="result" disabled />
      </div>
      <div class="compute-btn-area">
        <input type="button" class="button" value="Compute" onclick="computeValue()"/>
      </div>
    </div>

    <script src="compute.js"></script>
  </body>
</html>